{
  "env": {
    "node": true
  },

  "plugins": [
    "no-use-extend-native"
  ],

  "rules": {

    "comma-dangle": [2, "always"],
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-extra-semi": 2,
    "no-extra-parens": 2,
    "no-unreachable": 2,

    "curly": [2, "all"],
    "eqeqeq": [2, "smart"],
    "no-floating-decimal": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-redeclare": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-useless-call": 2,
    "radix": 2,
    "vars-on-top": 2,
    "wrap-iife": [2, "outside"],

    "strict": [2, "function"],
    "no-shadow": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "no-use-before-define": 2,
    "no-new-require": 2,

    "array-bracket-spacing": [2, "always"],
    "brace-style": [2, "stroustrup"],
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "indent": [2, 2],
    "lines-around-comment": [2, {"beforeBlockComment": true, "beforeLineComment": true, "allowBlockStart": true, "allowBlockEnd": false}],
    "new-cap": 2,
    "new-parens": 2,
    "no-inline-comments": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [2, "always"],
    "one-var": [2, "always"],
    "operator-linebreak": [2, "after"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "semi": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "spaced-comment": [2, "always"],
    "wrap-regex": 2
  }
}
